@import url('https://fonts.googleapis.com/css2?family=Nunito:ital@1&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@media (max-width: 767px) {

    body {
        background-image: linear-gradient(to bottom, #b6dee3, #aed9e3, #a7d3e3, #a2cde3, #9fc6e3, #9abede, #95b6d8, #90aed2, #86a3c7, #7c98bc, #728eb1, #6883a6);
    }

    header {
        height: 8em;
        width: 80.72em;
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;
        position: sticky;
    }

    a {
        text-decoration: none;
        color: black;
    }

    li {
        list-style: none;
    }

    header nav ul li a {
        font-family: 'Nunito', sans-serif;
        color: black;
        font-size: 30px;
    }

    h2 {
        font-size: 20px;
        font-family: 'Nunito', sans-serif;
        color: black;
    }

    ul {
        width: 30em;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: space-between;
        margin-right: 5em;
    }

    .tamañoLogoHeader {
        height: 4em;
        width: auto;
    }

    .tamañoDeimagenNuestoLocal {
        height: 30em;
        width: auto;
        margin-left: 10em;
        margin-right: 10em;
        margin-top: 1.25em;
    }

    .centrarImagenLocal {
        width: 100vh;
        height: 34.375em;
    }


    .gridMejoresOfertas {
        display: grid;
        grid-template-areas:
            "tituloLocal tituloLocal"
            "ImagenUnoLocal ImagenDosLocal"
            "ImagenTresLocal ImagenCuatroLocal";
        gap: 0.625em;
        margin-bottom: 0.6em;
        grid-template-columns: auto auto;
        grid-template-rows: auto auto auto;
    }

    .nombreOfertasGrid {
        grid-area: tituloLocal;
        margin-bottom: 0.6em;
        margin-left: 27em;
    }

    .nombreOfertasGridDos {
        grid-area: ImagenUnoLocal;
        margin-left: 9.25em;
    }

    .nombreOfertasGridTres {
        grid-area: ImagenDosLocal;
    }

    .nombreOfertasGridCuatro {
        grid-area: ImagenTresLocal;
        margin-left: 9.25em;
    }

    .nombreOfertasGridCinco {
        grid-area: ImagenCuatroLocal;
    }

    .gridMejoresOfertas a img {
        height: 20em;
        width: auto;
    }

    .gridMetodoPago {
        height: 20.875em;
        width: 100vh;
        display: grid;
        grid-template-areas:
            "pagoUno pagoUno"
            "pagoDos pagoDos";

    }

    .paddingMetodoPago {
        grid-area: pagoUno;
        margin-left: 28em;
        font-family: 'Nunito', sans-serif;
        color: black;
        font-size: 20px;
    }

    .gridPagoImagen {
        grid-area: pagoDos;
        margin-left: 16em;
    }

    .gridoMapa {
        width: 100vh;
        height: 37.5em;
        display: grid;
        grid-template-areas:
            "mapaUno mapaUno"
            "mapaDos mapaTres";
        gap: 0.25em;
        margin-left: 8em;
    }

    .nuestroLocalGrid {
        grid-area: mapaUno;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
        font-family: 'Nunito', sans-serif;
        color: black;
        font-size: 20px;
    }

    .gridMapa {
        grid-area: mapaDos;
    }

    .gridImagenMapa {
        grid-area: mapaTres;
    }

    .tamañoImagenMapa {
        height: 21.875em;
        width: 31.25em;
    }

    footer {
        height: 3.75em;
        width: 80.75em;
        display: flex;
        align-items: flex-end;
        justify-content: center;
        flex-direction: row;
        flex-wrap: nowrap;
    }

    .gridsComedor {
        height: auto;
        width: 80em;
        display: grid;
        grid-template-areas:
            "GridsComedorUno GridsComedorUno GridsComedorUno"
            "GridsComedorDos GridsComedorTres GridsComedorCuatro"
            "GridsComedorCinco GridsComedorSeis GridsComedorSiete"
            "GridsComedorOcho GridsComedorNueve GridsComedorDiez"
            "GridsComedorOnce GridsComedorDoce GridsComedorTrece"
            "GridsComedorCatorce GridsComedorQuince GridsComedorDieciseis";
        justify-content: center;
        align-items: stretch;
        justify-items: center;
        gap: 0.6em;
    }

    .gridsComedorLetritas {
        grid-area: GridsComedorUno;
        font-family: 'Nunito', sans-serif;
        color: black;
        font-size: 30px;
        margin-bottom: 1em;
        margin-top: 1em;
    }

    .gridsComedorDos {
        grid-area: GridsComedorDos;
    }

    .gridsComedorTres {
        grid-area: GridsComedorTres;
    }

    .gridsComedorCuatro {
        grid-area: GridsComedorCuatro;
    }

    .gridsComedorCinco {
        grid-area: GridsComedorCinco;
    }

    .gridsComedorSeis {
        grid-area: GridsComedorSeis;
    }

    .gridsComedorSiete {
        grid-area: GridsComedorSiete;
    }

    .gridsComedorOcho {
        grid-area: GridsComedorOcho;
    }

    .gridsComedorNueve {
        grid-area: GridsComedorNueve;
    }

    .gridsComedorDiez {
        grid-area: GridsComedorDiez;
    }

    .gridsComedorOnce {
        grid-area: GridsComedorOnce;
    }

    .gridsComedorDoce {
        grid-area: GridsComedorDoce;
    }

    .gridsComedorTrece {
        grid-area: GridsComedorTrece;
    }

    .gridsComedorCatorce {
        grid-area: GridsComedorCatorce;
    }

    .gridsComedorQuince {
        grid-area: GridsComedorQuince;
    }

    .gridsComedorDieciseis {
        grid-area: GridsComedorDieciseis;
    }

.gridsLiving{
    height: auto;
    width: 80em;
    display: grid;
    justify-content: center;
    align-items: stretch;
    justify-items: center;
    gap: 0.6em;
    grid-template-areas: 
"gridLivingLetritas gridLivingLetritas gridLivingLetritas"
"gridLivingUno gridLivingDos gridLivingTres"
"gridLivingCuatro gridLivingCinco gridLivingSeis"
"gridLivingSiete gridLivingOcho gridLivingNueve"
"gridLivingDiez gridLivingOnce gridLivingDoce"
"gridLivingTrece gridLivingCatorce gridLivingQuince";
}

.gridsLivingLetritas{
    grid-area: gridLivingLetritas;
    font-family: 'Nunito', sans-serif;
    color: black;
    font-size: 30px;
    margin-bottom: 1em;
    margin-top: 1em;
}

.gridsLivingUno{
    grid-area: gridLivingUno;
}

.gridsLivingDos{
    grid-area: gridLivingDos;
}

.gridsLivingTres{
    grid-area: gridLivingTres;
}
.gridsLivingCuatro{
    grid-area: gridLivingCuatro;
}
.gridsLivingCinco{
    grid-area: gridLivingCinco;
}
.gridsLivingSeis{
    grid-area: gridLivingSeis;
}
.gridsLivingSiete{
    grid-area: gridLivingSiete;
}
.gridsLivingOcho{
    grid-area: gridLivingOcho;
}
.gridsLivingNueve{
    grid-area: gridLivingNueve;
}
.gridsLivingDiez{
    grid-area: gridLivingDiez;
}
.gridsLivingOnce{
    grid-area: gridLivingOnce;
}
.gridsLivingDoce{
    grid-area: gridLivingDoce;
}
.gridsLivingTrece{
    grid-area: gridLivingTrece;
}
.gridsLivingCatorce{
    grid-area: gridLivingCatorce;
}
.gridsLivingQuince{
    grid-area: gridLivingQuince;
}
}
