footer {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    flex-direction: row;
    flex-wrap: nowrap;
    margin-bottom: 5px;
}

.tamañoMercadoLibreLogo {
    height: 45px;
    width: auto;
}

@media (min-width: 1024px) {
    footer {
        height: 3.75rem;
        width: 100%;
    }
}